.contact-content{  
    height: 100vh;
    margin-top: 32px;
    padding: 9px;
    position: relative; 
    overflow: hidden;
  }
  
  .contact-content::after {
    content: "";
    background-image: url("../img/11.svg");
    position: absolute;
    top:0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
  }
 
  .row {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
  }
  
  .form-box {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.btn {
    background-color: #01eaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none; 
}
.btn:hover {
    background-color: #ff01dd;
}
.btn:focus {
    outline: none; 
}